<div class="card">
  <div class="card-header">
    <h6> New Task</h6>
  </div>
  <div class="card-body">
    <%= bootstrap_form_with model: list do |f| %>
      <%= f.text_field :name %>
      <%= f.primary %>
    <% end %>
  </div>
</div>